@using ContactS.ENUM.User

@model ContactS.WEB.Models.ClientProfileViewModel

@{
    ViewBag.Title = Model.userInfo.Name;
}

<div class="row mt-5">
    <div class="col-3">
        @{
            int img = new Random().Next(1, 6);
            switch (img)
            {
                case 1:
                    <img src="https://www.omis.ee/wp-content/uploads/2016/03/no-profile-img-240x300.gif" class="card-img-top" alt="...">
                    break;
                case 2:
                    <img src="https://www.compatico.com/content/img/misc/no-profile-image.jpg" class="card-img-top" alt="...">
                    break;
                case 3:
                    <img src="http://www.sud.if.ua/wp-content/uploads/2017/04/no-profile-img-239x300.png" class="card-img-top" alt="...">
                    break;
                case 4:
                    <img src="https://french.columbia.edu/themes/custom/columbia/assets/img/people-default.svg" class="card-img-top" alt="...">
                    break;
                case 5:
                    <img src="http://www.tippanii.com/images/noprofile.png" class="card-img-top" alt="...">
                    break;
            }
        }

        @if (Model.Status == FriendshipStatus.Friend)
        {
            using (Html.BeginForm("Create", "Dialog", FormMethod.Post, new { @class = "form-group mt-2" }))
            {
                <div class="btn-group-vertical btn-block mt-2">
                    @Html.ActionLink(Resources.Resource.RemoveFromFriends, "RemoveFromFriends", new { id = Model.userInfo.Id }, new { @class = "btn btn-danger btn-block mt-2" })
                    <input value="@Model.userInfo.Id" name="id" type="hidden" />
                    <input type="submit" name="Send" value="@Resources.Resource.Write" class="btn btn-primary" />
                </div>
            }
        }
        else if (Model.Status == FriendshipStatus.Unknown)
        {
            using (Html.BeginForm("Create", "Dialog", FormMethod.Post, new { @class = "form-group mt-2" }))
            {
                <div class="btn-group-vertical btn-block mt-2">
                    @Html.ActionLink(Resources.Resource.AddToFriend, "AddToFriend", new { id = Model.userInfo.Id }, new { @class = "btn btn-primary" })
                    <input value="@Model.userInfo.Id" name="id" type="hidden" />
                    <input type="submit" name="Send" value="@Resources.Resource.Write" class="btn btn-primary" />
                </div>
            }

        }
        else if (Model.Status == FriendshipStatus.SendRequest)
        {
            using (Html.BeginForm("Create", "Dialog", FormMethod.Post, new { @class = "form-group mt-2" }))
            {
                <div class="btn-group-vertical btn-block mt-2">
                    @Html.ActionLink(Resources.Resource.YouSendRequest, "DeleteRequest", new { id = Model.userInfo.Id }, new { @class = "btn btn-danger" })
                    <input value="@Model.userInfo.Id" name="id" type="hidden" />
                    <input type="submit" name="Send" value="@Resources.Resource.Write" class="btn btn-primary" />
                </div>
            }
        }
        else if (Model.Status == FriendshipStatus.Follower)
        {
            using (Html.BeginForm("Create", "Dialog", FormMethod.Post, new { @class = "form-group mt-2" }))
            {
                <div class="btn-group-vertical btn-block mt-2">
                    @Html.ActionLink(Resources.Resource.Follower, "ConfirmRequestFrom", new { id = Model.userInfo.Id }, new { @class = "btn btn-primary" })
                    <input value="@Model.userInfo.Id" name="id" type="hidden" />
                    <input type="submit" name="Send" value="@Resources.Resource.Write" class="btn btn-primary" />
                </div>
            }
        }
        else
        {
            <div class="btn-group-vertical btn-block mt-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Edit">
                    @Resources.Resource.Edit
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Delete">
                    @Resources.Resource.Delete
                </button>
            </div>

            <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="EditTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    @Html.Partial("Edit", Model.userInfo)
                </div>
            </div>
            <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="DeleteTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    @Html.Partial("Delete", Model.userInfo)
                </div>
            </div>
        }
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h3>@Model.userInfo.Name</h3>
            </div>
            <div class="col-md-3 col-sm-12">
                <small class="text-muted float-right">(@@@Model.userInfo.UserName)</small>
            </div>
        </div>
        <hr />
        <p>@Resources.Resource.Address: @Model.userInfo.Address</p>
        <p>@Resources.Resource.Email: @Model.userInfo.Email</p>
        <hr />
        <h2>@Resources.Resource.Posts</h2>
        <p>@Resources.Resource.PostsText</p>
    </div>
</div>
