@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – ContactS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Product+Sans" rel="stylesheet" type="text/css">
</head>
<body>
    @Html.Hidden("lang", Resources.Resource.lang)
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            @Html.ActionLink("Contact🆂", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size:16px">

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            @Html.ActionLink(Resources.Resource.Dialogs, "Index", "Dialog", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(Resources.Resource.Users, "Index", "Account", null, new { @class = "nav-link" })
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a href="/Admin/Page/Index" class="nav-link">Admin</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            @Html.ActionLink(Resources.Resource.MyPage, "ClientProfile", "Account", new { id = User.Identity.GetUserId() }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">@Html.ActionLink(Resources.Resource.LogOut, "Logout", "Account", null, new { @class = "nav-link" })</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Resource.CurrentLang
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Українська", "ChangeCulture", "Home", new { lang = "ua" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">@Html.ActionLink(Resources.Resource.Login, "Login", "Account", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink(Resources.Resource.Registration, "Register", "Account", null, new { @class = "nav-link" })</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Resource.CurrentLang
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Українська", "ChangeCulture", "Home", new { lang = "ua" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer class="footer m-0 p-0">
        <div class="container m-0 p-0 pl-4">
            &copy; @DateTime.Now.Year – @Html.ActionLink(Resources.Resource.Author, "Contact", "Home", null, null)
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
