@model IEnumerable<ContactS.BLL.DTO.MessageDTO>
@using Microsoft.AspNet.Identity

@foreach (var msg in Model)
{
    if (msg.Sender.Id == User.Identity.GetUserId())
    {
        <div class="row mb-2">
            <div class="col-8 offset-4 ">
                <div class="card border-info">
                    <div class="card-body p-2">
                        @Html.ActionLink(msg.Sender.Name, "ClientProfile", "Account", new { id = msg.Sender.Id }, new { @class = "card-title text-info",style="font-size:14px" })
                        <p class="card-text m-0">@Html.Raw(Html.Encode(msg.Content).Replace("\n","<br />"))</p>
                        <div class="d-inline-block" >
                            <small class="text-muted" style="font-size:0.8rem">@msg.Time</small>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EditMessageModal" data-messageid="@msg.Id" data-content="@msg.Content">@Resources.Resource.Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#DeleteMessageModal" data-messageid="@msg.Id" >@Resources.Resource.Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row mb-2">
            <div class="col-8">
                <div class="card border-primary">
                    <div class="card-body p-2">
                        @Html.ActionLink(msg.Sender.Name, "ClientProfile", "Account", new { id = msg.Sender.Id }, new { @class = "card-title", style = "font-size:14px" })
                        <p class="card-text m-0">@msg.Content</p>
                        <small class="text-muted" style="font-size:0.8rem">@msg.Time</small>
                    </div>
                </div>
            </div>
        </div>
    }

}
