@model ContactS.WEB.Models.MessageModel

@{
    ViewBag.Title = "DeleteMessage";
}

<h2>DeleteMessage</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MessageModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.Content)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteMessage", "Dialog", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.DialogId)
        @Html.HiddenFor(model => model.Message.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "OpenDialog", new { id = Model.DialogId }, new { @class = "btn btn-default" })
        </div>
    }
</div>
