@model ContactS.BLL.DTO.DialogDTO

<div class="modal-content border-danger">
    <div class="modal-header">
        <h5 class="modal-title text-danger" id="LeaveTitle">@Resources.Resource.Attention</h5>
        <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>@Resources.Resource.LeaveDialog "@Model.Name"?</p>
        @using (Html.BeginForm("Leave", "Dialog", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)

            <div class="btn-group float-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Resource.Close</button>
                <input type="submit" value="@Resources.Resource.Yes" class="btn btn-danger" />
            </div>
        }
    </div>
</div>