@model ContactS.WEB.Models.OpenDialogModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "OpenDialog";
}

<div class="row mt-4">
    <div class="col-md-2">
        <h2 class="text-center">@Model.Dialog.Name</h2>
        <div class="btn-group-vertical  btn-block mt-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditDialog">
                Змінити
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LeaveDialog">
                Покинути
            </button>
        </div>

        <div class="modal fade" id="EditDialog" tabindex="-1" role="dialog" aria-labelledby="EditTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                @Html.Partial("Edit", Model.Dialog);
            </div>
        </div>

        <div class="modal fade" id="LeaveDialog" tabindex="-1" role="dialog" aria-labelledby="LeaveTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                @Html.Partial("Leave", Model.Dialog);
            </div>
        </div>
    </div>
    <div class="col-md-10 mt-4" style="height:80% !important;">
        <div class="row">
            <div class="col-sm-10 offset-sm-1 mb-3">
                @using (Html.BeginForm("OpenDialog", "Dialog", FormMethod.Post))
                {
                    <div class="input-group">
                        @Html.TextAreaFor(m => m.NewMessage.Content, new { @class = "form-control", placeholder = "Напишіть повідомлення...", aria_label = "Recipient's username", aria_describedby = "button-addon2" })
                        @Html.HiddenFor(m => m.DialogId)
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit" name="SendMessage" value="Send" id="button-addon2" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="scrolList">
            @Html.Partial("_MessageItems", Model.Messages)
        </div>

        <div class="d-flex justify-content-center">
            <div id="loading" class="spinner-border text-primary text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


    </div>

</div>


@section Scripts{



    <script type="text/javascript">
$(function () {

    $('div#loading').hide();

    var page = 1;
    var _inCallback = false;
    function loadItems() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').show();

            $.ajax({
                type: 'GET',
                url: '/Dialog/OpenDialog/' + @Model.DialogId.ToString() +"?page="+ page,
                success: function (data, textstatus) {
                    if (data != '') {
                        $("#scrolList").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                    $("div#loading").hide();
                }
            });
        }
    }
    // обработка события скроллинга
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {

            loadItems();
        }
    });
})
    </script>
}
