@model IEnumerable<ContactS.WEB.Areas.Admin.Models.AdminMessageViewModel>

@{
    ViewBag.Title = Resources.Resource.Message;
}

<nav class="nav nav-tabs nav-justified mt-3 rounded border-dark border">
    <a class="nav-item nav-link text-white bg-dark" href="/Admin/Page/Index">@Resources.Resource.Main</a>
    <a class="nav-item nav-link text-white bg-dark" href="/Admin/Page/Users">@Resources.Resource.Users</a>
    <a class="nav-item nav-link active" href="#">@Resources.Resource.Message</a>
    <div class="container bg-transparent p-3 overflow-auto">
        <div id="scrolList" class="row overflow-hidden p-1">
            @Html.Partial("_ItemsMessage", Model)
        </div>
        <div class="d-flex justify-content-center">
            <div id="loading" class="spinner-border text-primary text-center" role="status">
                <span class="sr-only">@Resources.Resource.Loading</span>
            </div>
        </div>
    </div>
</nav>

@section Scripts{
    
<script type="text/javascript">
    $(function () {

        $('div#loading').hide();

        var page = 1;
        var _inCallback = false;
        function loadItems() {
            if (page > -1 && !_inCallback) {
                _inCallback = true;
                page++;
                $('div#loading').show();

                $.ajax({
                    type: 'GET',
                    url: '/Admin/Page/Messages/?page=' + page,
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#scrolList").append(data);
                        }
                        else {
                            page = -1;
                        }
                        _inCallback = false;
                        $("div#loading").hide();
                    }
                });
            }
        }
        // обработка события скроллинга
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                loadItems();
            }
        });
    })
</script>
    
}
