@{
    ViewBag.Title = Resources.Resource.Contact;
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well" style="margin-top: 10%;">
            <h3>@Resources.Resource.ContactHeader</h3>
            <form role="form" id="contactForm" data-toggle="validator" class="shake">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="name" class="h4">@Resources.Resource.Name</label>
                        <input type="text" class="form-control" id="name" placeholder="@Resources.Resource.Enter @Resources.Resource.Name.ToLower()" required data-error="NEW ERROR MESSAGE">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="email" class="h4">@Resources.Resource.Email</label>
                        <input type="email" class="form-control" id="email" placeholder="@Resources.Resource.Enter @Resources.Resource.Email.ToLower()" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message" class="h4 ">@Resources.Resource.Message</label>
                    <textarea id="message" class="form-control" rows="5" placeholder="@Resources.Resource.EnterMessage" required></textarea>
                    <div class="help-block with-errors"></div>
                </div>
                <button type="submit" id="form-submit" class="btn btn-success btn-lg pull-right ">@Resources.Resource.Submit</button>
                <div id="msgSubmit" class="h3 text-center hidden"></div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

