@{
    ViewBag.Title = Resources.Resource.Main;
}

<div class="jumbotron">
    <h1 class="display-4">Contact🆂</h1>
    <p class="lead">@Resources.Resource.MainText</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg mt-4">@Resources.Resource.LearnMore &raquo;</a></p>
</div>

<div class="card-deck">
    <div class="card border-danger">
        <div class="card-header text-center text-danger">
            <h2>S - Speed</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Resources.Resource.Speed</h5>
            <p class="card-text">@Resources.Resource.SpeedText</p>
        </div>
        <div class="card-footer">
            <a href="/Home/About" class="btn btn-danger btn-block">@Resources.Resource.LearnMore &raquo;</a>
        </div>
    </div>
    <div class="card border-success">
        <div class="card-header text-center text-success">
            <h2>S - Style</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Resources.Resource.Style</h5>
            <p class="card-text">@Resources.Resource.StyleText</p>
        </div>
        <div class="card-footer">
            <a href="/Home/About" class="btn btn-success btn-block">@Resources.Resource.LearnMore &raquo;</a>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header text-center text-primary">
            <h2>S - Social</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Resources.Resource.Social</h5>
            <p class="card-text">@Resources.Resource.SocialText</p>
        </div>
        <div class="card-footer">
            <a href="/Home/About" class="btn btn-primary btn-block">@Resources.Resource.LearnMore &raquo;</a>
        </div>
    </div>
</div>